body {
    margin: 0;
    font-family: "Consolas", monospace;
    text-align: justify;
    color: #555;
}

header {
    margin: 0 auto;
    padding: 2em 5em;
    max-width: 55em;

    background-color: #bdb;
}

main {
    margin: 0 auto;
    padding: 2em 5em;
    max-width: 55em;
    background-color: #dfd;
}

section {
    padding: 1em 1em;
}

section:nth-of-type(odd) {
    background-color: #bdb;
}

a {
    color: #292;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

a:hover {
    background-color: #8d8;
}

.hN {
    margin: 0;
    color: #333;
}

a {
    color: #292;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

a:hover {
    background-color: #8d8;
}

.kvpair {
    padding: 1em 1em;
}

.subsection p {
    margin: 0.75em;
}

.subsection hr {
    width: 90%;
    color: #ccc;
}
